<h2 class="text-center">Admin Registration</h2>
<div class="container">
<form [formGroup]= "id" id="data" >
  
<div class="form-group">
    <label for="name" >Name</label>
    <input type="text"  id="name" formControlName="name" class="form-control">
 <span class="span-for-errors"  *ngIf="id.get('name').touched && id.get('name').errors">Please enter name</span>
  </div>
  
  <div class="form-group">
      <label for="mail">E-mail</label>
      <input type="text" id="name" formControlName="mail" class="form-control">
      <span class="span-for-errors"  *ngIf="id.get('mail').touched && id.get('mail').errors">Please enter email</span>
    </div>
<div [formGroup]="id.get(pswdmatch)">
    <div class="form-group">
      <label for="pswd" >Password</label>
      <input type="text"  id="pswd" formControlName="pwd" class="form-control">
   <span class="span-for-errors"  *ngIf="id.get('pwd').touched && id.get('pwd').errors">Please enter password</span>
    </div>
  
    <div class="form-group">
      <label for="cnfmpswd" >Confirm Password</label>
      <input type="text"  id="cnfmpswd" formControlName="cnfmpwd" class="form-control">
   <span class="span-for-errors"  *ngIf="id.get('cnfmpwd').touched && id.get('cnfmpwd').errors.pwdnotmatch">Please enter name</span>
    </div>
</div>

    <div class="form-group">
        <label for="mobile" >Mobile no</label>
        <input type="text" id="name" formControlName="mobileno" class="form-control">
        <span class="span-for-errors" *ngIf="id.get('mobileno').touched && id.get('mobileno').errors">Please enter mobile no</span>
      </div>
      <div class="form-group">
          <label for="location" >Location</label>
         <ul  id="location"  formControlName="loc" >
          <li *ngFor="let city of list">{{city.name}}</li>
          </ul> 
   <span class="span-for-errors" *ngIf="id.get('loc').touched && id.get('loc').errors">Please select location</span>
        </div>
        <div id="btn">
          <button type="button" class="btn">Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="id.invalid" >Register</button>
          </div>
        </form>
          </div>
    
          