div{
    background-image: url('../../../../assets/images/login.jpg');
    width:100%;
    height:100%;
}
.container
{
    height:46%;
    width:25%;
    margin-top:2%;         
}    


label
{
    color: white;
}

button{
    margin-left:38%;
}
.inner-addon { 
position: relative; 
}


.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}

.left-addon .glyphicon  { 
left:  0px;
}
.right-addon .glyphicon {
right: 0px;
}

.left-addon input  { 
padding-left:  30px; 
}
.right-addon input { 
padding-right: 30px; 
}
p.form-title
{
font-family: 'Open Sans' , sans-serif;
font-size: 20px;
font-weight: 600;
text-align: center;
color:black;
margin-top: 10%;
text-transform: uppercase;
letter-spacing: 4px;
}