 <h1>ISlot- Basic application to enable easy interaction between admin and interviewer </h1>

<a routerLink='/login'>login</a>
<a routerLink='/'>sign-up as admin</a>
<a routerLink='/'>sign-up as interviewer</a>

<!-- <div class='container'>
        <p  id="title" class="form-title">
            
                Welcome to I-Slot</p>
                
                <p id="description">I-Slot,an Application that facilitates easy and enhanced interaction between Admin and Interviewer for hiring drive</p>
              
                
              

    <div align=center id=nav>
           
            <svg id="circle">

               <g>
              <circle cx="100" cy="100" r="76" stroke="yellow" stroke-width="0.5" fill=none />
              <a routerLink='/login'></a>
                <text x="40%" y="43%" style="text-anchor: middle">log-in</text>
              </a>
                 </g>
            </svg>
            <svg id="circle">
               <g>
              <circle cx="100" cy="100" r="70" stroke="yellow" stroke-width="0.5" fill=none />
              <a xlink:href="#img3"  class="btn btn-info btn-lg" >
                <text x="40%" y="43%" style="text-anchor: middle">SignUp As Admin</text>
              </a>
                 </g>
            </svg>
            <svg id="circle">
               <g>
              <circle cx="100" cy="100" r="70" stroke="yellow" stroke-width="0.5" fill=none />
              <a xlink:href="#img3"  class="btn btn-info btn-lg" >
                <text x="40%" y="43%" style="text-anchor: middle">Log-In</text>
              </a>
                 </g>
            </svg>
           
            </div>
            </div>
             -->