<form [formGroup]="eventregister">
  <div>
    <label for="eventname">Name</label>
    <input type="text" formControlName="eventname">    
  </div>
  <div>
    <label for="eventdate">Date</label>
    <input type="date" formControlName="eventdate">
  </div>
  <div>
    <label for="starttime">Start Time</label>
    <input type="text" formControlName="starttime">
  </div>
  <div>
    <label for="endtime">End Time</label>
    <input type="text" formControlName="endtime">
  </div>
  <div>
    <label for="location">Location</label>
      
  </div>
</form>